global
  # 瞬間最大連線數
  maxconn 60000
  daemon

defaults
  mode http
  timeout connect 5s
  timeout client  10s
  timeout server  10s

backend handler-9001
  # 尾巴check加上HC機制
  server api1 api1:9001 check
  server api2 api2:9001 check

backend handler-9002
  # IP_Hash配置
  balance source
  hash-type consistent
  server api3 api3:9002 check
  server api4 api4:9002 check

frontend front
  # 監聽port
  bind :9001
  bind :9002
  # 當來源以9001 port拜訪則導向handler-9001
  use_backend handler-9001 if { dst_port 9001 }
  use_backend handler-9002 if { dst_port 9002 }
